/* ------------- Custom Video -------------- */

/* ------------- Play Button -------------- */
.play {cursor: pointer; border: none; background-color: transparent; position: absolute; top: 50%; left: 50%;  transform: translate(-50%, -50%); width: 100%; color: $text; font: 700 15px/1 $font, sans-serif; text-transform: uppercase; letter-spacing: 1.5px; text-align: center; transition: .3s all; }
.play i {width: 75px; height: 75px;border-radius: 50%;  background-color: #fff;; display: block; color: $text; display: inline-flex;  align-items: center; justify-content: center; font-size: 30px; margin: 10px; transition: .3s all; }
.play i:before {margin: auto; padding-left: 5px;}
.play:hover {color: $secondary;}
.play:hover i {background-color: $secondary; color: #fff;}


/* ------------- Close Button -------------- */
[data-embed] .close, [data-vimeo] .close { cursor: pointer;line-height: 1; background-color: $primary; color: #fff; padding: 8px; text-transform: uppercase; z-index: 5;  position: absolute; top: 0; right: 0; min-width: 160px;
    i {font-style: normal; font-size: 1.25em; line-height: 1; vertical-align: middle; display: inline-block; margin-bottom: 5px; }
    &:focus {background-color: darken($primary, 10%);}
}
[data-embed] .close:hover, [data-vimeo] .close:hover { background-color: #1b1b1b; color: #fff; }
[data-embed] .close i:before { transform: rotate(45deg); }
