/* ------------- Controls -------------- */
.slick-controls { display: flex; align-items: center; justify-content: space-around; max-width: 1000px; margin: 10px auto;;}

/* ------------- Arrows -------------- */
.slick-arrow {color: $primary; font-family: fontello; font-size:40px; position: absolute; top: 50%;  transform: translateY(-50%); left: 0;  width: 60px; height: 60px; flex: 0 0 60px; display: flex; flex-direction: column; justify-content: center; align-items: center; border-radius: 50%; border: 1px solid $primary; z-index: 5;  transition: .3s all;
    i {margin-left: -4px;}
    &:hover { color: $secondary;  } 
}
#next {left: auto; right: 0; order: 2; i {margin-left: 4px;} }


/* ------------- Pagers -------------- */
.slick-dots  {line-height: 1;
    li {line-height: 1;
        button {padding: 0;}
    }
    span {
        cursor: pointer; background-color: $tertiary;
        height: 12px; width: 12px; border-radius: 50%;display: inline-block;  margin: 0 5px; opacity: .18;
    }
    .slick-active span {
       opacity: 1;
    }
}
.pagingInfo {font-size: 30px; text-align: center;}

/* ------------- Inside Gallery -------------- */
.gallery { max-width: 1050px; margin: 40px auto; padding: 0 60px; position: relative;
    .slick-arrow {top: 50%;}
}

.slick-gallery {position: relative; margin: 20px auto; text-align: center;
    article .flex-ed {justify-content:space-around; 
        span {margin: 10px; position: relative; padding-bottom: 40px;
            img {width: 100%; }
            &:after {content: 'Before'; position: absolute; bottom: 5px; left: 0; right: 0; margin: auto; display: block; margin: auto; color: $text;  font:400 18px/1.2 $font; text-transform: uppercase; letter-spacing: 1.6px;}
            &:last-of-type:after {content: "After";}
        }
    }
    article div p {display: block;}
    figcaption {margin: 5px auto;}
}
