
@media (max-width: 1290px) {

}

@media (max-width: 1150px) {

}

@media (max-width:1024px) {
    // #page-title h1:only-child, h2#append, .h1 {font-size: 50px;}

/* ------------- HOME 1024 -------------- */
    .split {
        .flex-ed {display: block; text-align: center;}
        figure {display: block; margin: auto;}
        article {margin: 20px auto;}
        .btn {margin: 10px auto;}
    }




/* ------------- FOOTER 1024 -------------- */
    #fo-contents {flex-wrap: wrap; text-align: center;}
    footer .hours {margin: 20px auto; }
    .fo-title {text-align: center;}



/* ------------- INTRO 1024 -------------- */
    #interior-banner { 
        .contain {padding: 30px 20px 20px;}
        .flex-title {text-align: center;
            .contain {max-width: 100%;;}
        }
    }

    .flex-title {display: block; text-align: center;
        #page-title {text-align: center;}
    }

    #main-img {min-height: auto; margin: 10px auto 20px; img {display: block; }}
    #intro {  margin: 20px auto; text-align: center;}



/* ------------- INTERNAL  1024 -------------- */
    .block {    text-align: center; padding: 40px 10px;
        .contain {display: block;}
        .btn {margin: 10px auto;}
        h2, h3 { margin-bottom: 20px; text-align: center;}
        [class^="elem"]   {float: none; margin: 10px auto 20px;  max-width: 100%;}
        ul {display: table; margin: 20px auto;}
    }
    .services-grid > div, #all {flex: 0 1 48%;}
    [data-player][class^="elem"]{max-width: 650px;}


}
