@media (max-width:768px) {
    /* ------------- HEADER  768 -------------- */
        header .pho {font-size: 18px;}
    
    
    /* ------------- HOME  768 -------------- */
        #reviews {
            .contain {padding: 0 10px;}
            .slick-controls {flex-wrap: wrap; margin: 10px auto;}
            .slick-arrow {position: relative; transform: none; top: auto; }
        }

        .bkg-img {
            figure {display: block;}
        }
    /* ------------- FOOTER  768 -------------- */
        #find {display: block;}
        #map {height: 400px;}
    
    /* ------------- INTRO  768 -------------- */
    
    
        
    /* ------------- INTERNAL  768 -------------- */
        .why ul {flex-wrap: wrap;}
        .why ul li {flex: 1 1 100%;}
        .gallery {padding: 10px;}
        .gallery .slick-arrow {position: relative; display: inline-flex;  transform: none; top: auto;  margin: 0;}
    }
    
    @media (max-width:590px) {
    /* ------------- HEADER  590 -------------- */
    .hd-info {display: none;}
    // #page-title h1:only-child, h2#append, .h1 {font-size: 40px;}
    // h2, .h2, .dividerLead {font-size: 32px;}
    
    /* ------------- HOME  590 -------------- */
      

        
    /* ------------- FOOTER  590 -------------- */
        #map {display: none;}
        #copy span:last-of-type {display: block;  font-size: 0px;}
    
    
        
    /* ------------- INTERNAL  590 -------------- */
        .contact {text-align: center; display: block;}
        .contact > div:first-child, .contact p {margin: 10px auto;}
        .gallery {padding: 0;}
        .services-grid >div, #all {flex: 1 1 100%;}
        .youtube[class*="elem-"] { width: 100%; }
        [data-player][class^="elem"] {min-width: 100%;}
        .landing {display: block;}
     
    }
    
    
    @media (max-width:480px) {
    /* ------------- HEADER  480 -------------- */
 
        header .hours label {width: 100px;}
    
    
    /* ------------- HOME  480 -------------- */
    
        
            
        
    /* ------------- FOOTER  480 -------------- */
        #fixed-tabs strong {display: none;}
        
        
    
    /* ------------- INTERNAL  480 -------------- */
    .gallery article .flex-ed {flex-wrap: wrap;}
    .gallery article .flex-ed >div {flex: 1 1 100%; }
    .gallery article .flex-ed span {margin-bottom: 30px; flex: 1 1 100%;}
        
        
    }
    
    
    @media (max-width:400px) {
        
        .more-to-explore [class^="btn"] {min-width: 100%; width: 100%; margin: 8px auto;}
        [data-embed] .close { font-size: 12px;min-width: 120px; padding: 4px; }
        #copy .icon-tnt {font-size:50px; margin-bottom: 8px;}
    }
    
    
    