@media (max-width:750px) {
    /* ------------- HEADER  750 -------------- */
        #hd-info {flex: 0 1 auto;}
        header .phy {display: none;}
        header .pho {font-size: 18px;}
    
    
    /* ------------- HOME  750 -------------- */
        #reviews {
            .contain {padding: 0 10px;}
            .slick-controls {flex-wrap: wrap; margin: 10px auto;}
            .slick-arrow {position: relative; transform: none; top: auto; }
        }

        
    /* ------------- FOOTER  750 -------------- */
        #find {display: block;}
        #map {height: 400px;}
    
    /* ------------- INTRO  750 -------------- */
    
    
        
    /* ------------- INTERNAL  750 -------------- */
        .why ul {flex-wrap: wrap;}
        .why ul li {flex: 1 1 100%;}
    
        
    }
    
    @media (max-width:590px) {
    /* ------------- HEADER  590 -------------- */
    
        
    
    
    /* ------------- HOME  590 -------------- */
      

        
    /* ------------- FOOTER  590 -------------- */
        #map {display: none;}
        #copy span:last-of-type {display: block;  font-size: 0px;}
    
    
        
    /* ------------- INTERNAL  590 -------------- */
        .contact {text-align: center; display: block;}
        .contact > div:first-child, .contact p {margin: 10px auto;}
        .gallery {padding: 0;}
        .services >div, #all {flex: 1 1 100%;}
        .youtube[class*="elem-"] { width: 100%; }
        [data-player][class^="elem"] {min-width: 100%;}
        .landing {display: block;}
    
    }
    
    
    @media (max-width:480px) {
    /* ------------- HEADER  480 -------------- */
        .hd-info {display: none;}
        header .hours label {width: 100px;}
    
    
    /* ------------- HOME  480 -------------- */
    
        
            
        
    /* ------------- FOOTER  480 -------------- */
        #copy span:first-of-type {display: block; font-size: 0px;}
        #fixed-tabs strong {display: none;}
        
        
    
    /* ------------- INTERNAL  480 -------------- */

        
        
    }
    
    
    @media (max-width:400px) {
        
        [class^="btn"], .more-to-explore [class^="btn"] {min-width: 100%; width: 100%; margin: 8px auto;}
        [data-embed] .close {display: block; position: unset; text-align: center;  padding: 4px; }
    
    }
    
    
    