$primary: #0868b1;
$secondary:#08a9b1;
$tertiary: #1e8186;
// $quat: #005696;
$text: #545454;
$font: "Lato", sans-serif;
$font2: "Noto Serif", serif;
$facebook: #4d70a8;
$google: #dc4e41;
$yelp: #b62717;
$youtube: #d00;
$instagram: #c13584;
$twitter: #00aced;